
#foreground {
    background-image: url(./img/foreground.png);
    background-repeat: repeat;
    background-attachment: fixed;
}
#background {
    background-image: url(./img/background.png);
    background-repeat: repeat;
    background-attachment: fixed;
}